body {
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
	padding: 0;
	background: #FFF;
}

section p {
	width:60%;
	margin-left:20%;
	margin-right:20%;
	margin-top:20px;
    padding-left:3%;
	padding-right:3%;
    text-align: right;
}

header, footer {
	text-align: center;
	padding: 0.3em 0;
	background: #333;
	color: #FFF;
}

footer {
	clear: both;
	height:60px;
	margin-top:30px;
}
